.Feed
  overflow-y: scroll
  height: 100vh
  padding: 0.1em
  
.Feed-grid
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr))
  grid-auto-rows: 1fr
  position: relative
  padding-top: 5em
  &::before
    content: ''
    width: 0
    padding-bottom: 100%
    grid-area: 1/1/1/1
  &>*:first-child
    grid-area: 1/1/1/1

@media screen and ( min-width: 1024px )
  .Feed-grid
    grid-template-columns: repeat(auto-fill, minmax(18em, 1fr))

.Feed-img-wrap
  background-color: white
  height: auto
  display: flex
  justify-content: center
  align-items: center
  overflow: hidden

.Feed-img
  cursor: pointer
  min-width: 100%
  max-height: 100%
  padding: 0.1em
  object-fit: cover
  user-select: none
  -webkit-tap-highlight-color: transparent  

.Zoom
  height: 100%
  width: 100vw
  display: flex
  flex-direction: column
  align-items: center  
  top: 0
  z-index: 2
  background-color: white
  position: fixed
  padding: 5%

  img
    padding-top: 2em
    max-height: 92%
    max-width: 92%

  &-Not
    display: none

.Img-Loader-Wrap
  width: 100vw
  height: 100%
  margin: 1em 0  
  display: flex
  align-items: center
  justify-content: center
  
.Img-Loader
  border: 3px solid #f3f3f3
  border-top: 3px solid black
  border-radius: 50%
  width: 25px
  height: 25px
  animation: spin 2s linear infinite


@keyframes spin 
  0% 
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
