.Feed
  overflow-y: scroll
  height: 100vh
  padding: 7.5px
  
.Feed-grid
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
  position: relative

.Feed-img-wrap
  background-color: white
  padding: 7.5px
  height: 30vh
  display: flex
  justify-content: center
  align-items: center

.Feed-img
  cursor: pointer
  height: 20vw
  width: 20vw
  object-fit: contain
  //max-height: 100%
  //max-width: 100%

.Zoom
  height: 100%
  width: 100vw
  display: flex
  flex-direction: column
  align-items: center  
  top: 0
  z-index: 2
  background-color: white
  position: fixed
  padding: 5%

  img
    padding-top: 2em
    max-height: 92%
    max-width: 92%

  &-Not
    display: none

  
